doctype html
html(lang="en")
    head
        title= `${title}`
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p Car: #{name}
            p Brand: #{brand}
            form(method="POST")
                label(for="newVal") New color
                input(type="text" name="newVal" required)
                input(type="submit" value="Submit")