doctype html
html(lang="en")
    head
        title= `${title}`
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p Manufacture a new car:
            form(method="POST")
                label(for="newName") New name
                input(type="text" name="newName" required)
                label(for="newColor") New color
                input(type="text" name="newColor" required)
                label(for="newBrand") New brand
                input(type="text" name="newBrand" required)
                label(for="newMaxSpeed") New maximum speed
                input(type="text" name="newMaxSpeed" required)
                input(type="submit" value="Submit")
        
        a(href='/') Return to the homepage